body {margin:auto; text-align: center; background: #BFEAF5 ;font-family: 'Roboto Condensed', sans-serif;letter-spacing:1px;color:white;font-size: 1.2em;}

.header{color:#00334E;}

form {background:#3749A7; width:80%; max-width:800px; margin:auto auto 10px; padding: 10px;overflow:auto;border-radius:10px;margin-bottom: 40px;}

input {display:block; margin:0.5em auto;border-radius:3px;border: none;accent-color:#76C7DC;}

input {padding: 5px 8px; line-height: 1.2em;font-size: 1em;font-family: 'Roboto Condensed', sans-serif; background-color:#E9E9E9 ;}

select, textarea {padding: 5px 8px; line-height: 1.2em;font-size: 1em;font-family: 'Roboto Condensed', sans-serif; background-color:#E9E9E9 ;}

#comment {resize:none;border:none;border-radius:5px;max-width:97%;}

.option {display:inline-flex;flex-direction: column;width:80px; margin: 5px 25px;}


#dropdown {border-radius:3px;}

label {display:block; margin:1em auto;}

.wrapper {display: flex; flex-direction: row; justify-content: space-evenly;}

.option > label {margin-top:0;}

#title {margin-top: 20px;}

#description {margin: auto auto 20px;}

#submit {height:40px;width:180px;text-align:center;margin-top:15px;}
#submit:hover {background-color: white; cursor: pointer;}

::placeholder {color:black;}